$tile-background = #2d61c2

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.c
  &-paragraph

    &--red
      color: red

  &-section

    &__title
      text-align: center

  &-letters-board

    &__container
      display: flex
      justify-content: center

    &__letter
      font-size: 70px
      line-height: 1.5em
      margin: 3px
      background: $tile-background
      color: white
      height: 1.5em
      width: 1.5em
      position: relative
      text-align: center

    &__remove-letter
      font-size: 12px
      line-height: 12px
      position: absolute
      right: 5px
      top: 5px
      color: white
      text-decoration: none

  &-row

    &__container
      display: flex
      justify-content: center

    &__tile
      background: $tile-background
      text-transform: uppercase
      color: white
      font-weight: bold
      padding: 20px
      margin: 3px
      font-size: 30px
      border: none
      outline: none

    &__button
      cursor: pointer
      background: $tile-background
      text-transform: uppercase
      color: white
      font-weight: bold
      padding: 20px
      margin: 3px
      font-size: 30px
      border: none
      outline: none

      &--inactive
        opacity: 0.7


