.c-letters-board__container
  .c-letters-board__letter(ng-repeat="letter in ctrl.letters track by letter.position") {{ letter.value }}
    a.c-letters-board__remove-letter(href="#" ng-if="!letter.empty" ng-click="ctrl.removeLetter(letter.position)") x
