div(ng-if="ctrl.state === ctrl.states.PUZZLE_CHOOSING")
  h2.c-section__title Choose a puzzle
  .c-row__container
    button.c-row__button(ng-click="ctrl.getPuzzle(4, 2)") 2 little, 4 big
    button.c-row__button(ng-click="ctrl.getPuzzle(3, 3)") 3 little, 3 big
  .c-row__container
    button.c-row__button(ng-click="ctrl.getPuzzle(2, 4)") 4 little, 2 big
    button.c-row__button(ng-click="ctrl.getPuzzle(1, 5)") 5 little, 1 big
  .c-row__container
    button.c-row__button(ng-click="ctrl.getPuzzle(0, 6)") 6 little
div(ng-if="ctrl.state === ctrl.states.PUZZLE_FETCHING")
  h2.c-section__title Loading puzzle...
div(ng-if="ctrl.state === ctrl.states.ERROR")
  h2.c-section__title Something went wrong, please try again.
  .c-row__container
    .c-row__button(ng-click="ctrl.newPuzzle()") New puzzle
div(ng-if="ctrl.state === ctrl.states.DISPLAY_PUZZLE")
  .c-row__container
    .c-row__button(ng-click="ctrl.newPuzzle()") New puzzle
  h2.c-section__title Target
  .c-row__container
    .c-row__tile {{ ctrl.puzzle.target }}
  h2.c-section__title Numbers
  .c-row__container
    .c-row__tile(ng-repeat="number in ctrl.puzzle.numbers track by $index") {{ number }}
  .c-row__container
    .c-row__button(ng-click="ctrl.showSolution()") Show solution
div(ng-if="ctrl.state === ctrl.states.DISPLAY_SOLUTION")
  .c-row__container
    .c-row__button(ng-click="ctrl.newPuzzle()") New puzzle
  h2.c-section__title Target
  .c-row__container
    .c-row__tile {{ ctrl.puzzle.target }}
  h2.c-section__title Numbers
  .c-row__container
    .c-row__tile(ng-repeat="number in ctrl.puzzle.numbers track by $index") {{ number }}
  h2.c-section__title Solution
  .c-row__container
    .c-row__tile(ng-repeat="solution in ctrl.puzzle.solutions | limitTo:ctrl.SOLUTION_DISPLAY_LIMIT track by $index") {{ solution }}
