p Possible solutions
button(ng-click="ctrl.findSolutions()") Show solutions
ol(ng-if="!ctrl.error" style="font-family: monospace;")
  li(ng-repeat="solution in ctrl.solutions | orderBy:'length':true | limitTo:5 track by $index") {{ solution }} ({{ solution.length }})
p(ng-if="ctrl.error") Some error occurred while trying to find solutions. #[a(href="#" ng-click="ctrl.findSolutions()") Try again...]
