letters-board
.c-row__container
  button.c-row__button(ng-click="ctrl.addVowel()") Vowel
  button.c-row__button(ng-click="ctrl.clearBoard()") Clear
  button.c-row__button(ng-click="ctrl.addConsonant()") Consonant
letters-solutions
