.c-row__container
  button.c-row__button.countdown-clock__start-button(ng-hide="ctrl.isPlaying" ng-click="ctrl.start()") Start clock
  button.c-row__button.countdown-clock__stop-button(ng-show="ctrl.isPlaying" ng-click="ctrl.stop()") Stop clock
