.c-row__container
  button.c-row__button(
    ng-click="ctrl.changeGame('letters')",
    ng-class="{ 'c-row__button--inactive': ctrl.currentGame !== 'letters' }"
  ) Letters
  button.c-row__button(
    ng-click="ctrl.changeGame('numbers')",
    ng-class="{ 'c-row__button--inactive': ctrl.currentGame !== 'numbers' }"
  ) Numbers
countdown-clock
letters-round(ng-if="ctrl.currentGame === 'letters'")
numbers-round(ng-if="ctrl.currentGame === 'numbers'")
